In [2]:
age = int(input("Enter age"));
gender = input("Enter Gender");
if age >= 18 and gender == "male":
    print("Allow");
else:
    print("Do not Allow");

Enter age18
Enter Gendermale
Allow

In [3]:
age = int(input("Enter age"));
gender = input("Enter Gender");
if age >= 18 or gender == "male":
    print("Allow");
else:
    print("Do not Allow");

Enter age15
Enter Gendermale
Allow

In [1]:
#learning list
arr = [112,6];
print(arr);

[112, 6]

In [3]:
"""We are learning python
learning list now"""
print("Hello World");

Hello World

In [6]:
name1 = "Zulqi";
name2 = "Rani";
name3 = "Saadi";
name4 = "Roni";
name5 = "Hadi";
name6 = "Suleman";
print(name1+","+name2+","+name3+","+name4+","+name5+","+name6);

Zulqi,Rani,Saadi,Roni,Hadi,Suleman

In [7]:
# List
name = ["Zulqi","Rani","Saadi","Roni","Hadi","Suleman"];
print(name)

['Zulqi', 'Rani', 'Saadi', 'Roni', 'Hadi', 'Suleman']

In [8]:
print(name[0]);

Zulqi

In [10]:
print(name[1]);

Rani

In [11]:
name.append('Ahmed');
print(name);

['Zulqi', 'Rani', 'Saadi', 'Roni', 'Hadi', 'Suleman', 'Ahmed']

In [13]:
arr = ["lion",12,True,5.69];
print(arr);

['lion', 12, True, 5.69]

In [14]:
name

['Zulqi', 'Rani', 'Saadi', 'Roni', 'Hadi', 'Suleman', 'Ahmed']

In [16]:
newList = name + arr;
print(newList);

['Zulqi', 'Rani', 'Saadi', 'Roni', 'Hadi', 'Suleman', 'Ahmed', 'lion', 12, True, 5.69]

In [18]:
name = name.insert(3,"Waheed");
print(name);

None

In [14]:
# we are a team.
first_name = "Wahaj";
last_name = "Khan";
interst = "accounts";
# we will learn.
if first_name == "Wahaj":
    if last_name == "Khan":
        if interst == "accounts":
            print("Welcome home, Wahaj!"); # Greetings.

Welcome home, Wahaj!

In [15]:
"""we are going to see what happens 
kljhjkhjkgjkgjkgjkgjkgj.j.j.b.nmb.b
"""
first_name = "Wahaj";
last_name = "Khan";
interst = "accounts";
# we will learn.
if first_name == "Wahaj":
    if last_name == "Khan":
        if interst == "accounts":
            print("Welcome home, Wahaj!"); # Greetings.

Welcome home, Wahaj!

In [16]:
country_1 = "Pakistan";
country_2 = "India";
country_3 = "England";
country_4 = "Australia";
country_5 = "Newzealand";
country_6 = "Srilanka";
print(country_1+","+country_2+","+country_3+","+country_4+","+country_5+","+country_6+",")

Pakistan,India,England,Australia,Newzealand,Srilanka,

In [19]:
countries = ["Pakistan","India","England","Australia","Newzealand","Srilanka","Westindies"]
print(countries);

['Pakistan', 'India', 'England', 'Australia', 'Newzealand', 'Srilanka', 'Westindies']

In [20]:
countries.append("Nepal")
print(countries);

['Pakistan', 'India', 'England', 'Australia', 'Newzealand', 'Srilanka', 'Westindies', 'Nepal']

In [22]:
cities = ["Islamabad", "Delhi", "London", "Canbera", "Auckland", "Columbo","Antiga","Khatmandoo"]
new_list = countries + cities
print(new_list);

['Pakistan', 'India', 'England', 'Australia', 'Newzealand', 'Srilanka', 'Westindies', 'Nepal', 'Islamabad', 'Delhi', 'London', 'Canbera', 'Auckland', 'Columbo', 'Antiga', 'Khatmandoo']

In [23]:
new_list.remove("India");
print(new_list);

['Pakistan', 'England', 'Australia', 'Newzealand', 'Srilanka', 'Westindies', 'Nepal', 'Islamabad', 'Delhi', 'London', 'Canbera', 'Auckland', 'Columbo', 'Antiga', 'Khatmandoo']

In [29]:
new_list1= new_list[2:6];
print(new_list1);

['Australia', 'Newzealand', 'Srilanka', 'Westindies']

In [30]:
del new_list1[1];
print(new_list1);

['Australia', 'Srilanka', 'Westindies']

In [34]:
new_list1.remove("Srilanka");
print(new_list1);

['Australia', 'Westindies']

In [35]:
new_list1.append("Srilanka");
print(new_list1);

['Australia', 'Westindies', 'Srilanka']

In [37]:
new_list1.pop();
print(new_list1);

['Australia', 'Westindies']

In [3]:
question = input("What is solid");
if question == "matter with closely bound molecules":
    print(True);
else:
    print(False);

What is solidmatter with closely bound molecules
True